<style>
    /* version with fles */
.rh_notif_container {
  display: flex;
  height: 60vh; /* Or whatever */
  justify-content: center;
  align-items: center;
  
}

.rh_notif_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 65%;
    max-height: 300px;
    padding: 2rem 0;
}
.rh_badge{
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    display: flex;

}
.rh_badge_img{
    max-width: 60%;
    margin: auto;
}
.rh_badge-txt{
    font-size: 2em;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .rh_badge{
        width: 100px;
        height: 100px;

    }
    .rh_badge_img{
        max-width: 50%;
    }
    .rh_badge-txt{
        font-size: 1.5em;
    }
}
</style>

<div class="rh_notif_container">
    <div class="rh_notif_card z-depth-1">
        <div class="rh_badge">
            <img class="rh_badge_img" title="badge_project_not_found" src="images/elsedoc.png"/>
        </div>
        <h5 class="rh_badge-txt"> <b>Project Not Found!</b></h5>
        </div>
    </div>

</div>